<h3><%= " \"#{@test_passage.test.title}\" #{t('.title')}" %></h3>

<h2>
  <%= t('.success') %>:
  <big class="<%= @test_passage.passed? ? t('.passed') : t('.failed') %>">
    <%= @test_passage.score.round 0 %>%
  </big>
  <br>
  <br>
  <%= @test_passage.passed? ? t('.test_passed') : t('.test_failed') %>
</h2>

<br>

<%= render "shared/links" %>
