 <% if admin_section?
      navbar_bg = "bg-info"
      admin_panel = t(".admin_panel")
      my_badges_path = admin_badges_path
    else
      navbar_bg = "bg-light"
      admin_panel_link = link_to t(".admin_panel"), admin_tests_path
      my_badges_path = badges_path
    end

    if what_locale?
      icon_flag = "icons/en.png"
      locale_link = "#{request.path}?lang=en"
    else
      icon_flag = "icons/ru.png"
      locale_link = request.path
    end
  %>

<nav class="navbar navbar-lught <%= navbar_bg %> " >
  <div class="text-dark navbar-brand " >
    <%= link_to image_tag(icon_flag, size: "20x20", alt: t("in_language")), locale_link %>
    <%= link_to "TestGuru", root_path %>
    <%= admin_panel %>
  </div>
  <div class="navbar-text  ">

    <% if user_signed_in? %>

      <div class="col-12 col-md-auto">
        <%= t(".welcome", user: current_user.full_name).html_safe %>
      </div>
      <div class="col-12 col-md-auto">

        <%= link_to t(".admin_panel"), admin_tests_path if !admin_section? %>

        <%= link_to t('.gist_question'),
                    gist_test_passage_path(@test_passage),
                    method: :post if @test_passages_section && !@result_section %>

        <%= link_to t('.all_tests'), admin_section? ? admin_tests_path : tests_path %>

        <%= link_to "Gists . ", admin_gists_path if admin_section? %>

        <%= link_to t(".badges"), my_badges_path %>

        <%= link_to t(".feedback"), new_feedback_path if !admin_section? %>

        <% unless @result_section || @test_passages_section %>
          <a href="" onclick="javascript:history.back(); return false;"><%= t('.back') %></a>
        <% end %>

        <%= link_to t(".exit"),
                    destroy_user_session_path,
                    method: :delete,
                    data: { confirm: t(".exit_confirm")} %>
      </div>
    <% else %>
        <%= link_to t(".log_in"), new_session_path(resource_name) %> |
        <%= link_to t(".sign_up"), new_registration_path(resource_name) %>
    <% end %>



  </div>

 </nav>

