<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render "shared/errors", resouse: @answer %>

  <div class="form-group mb-0">
    <%= form.label :body, t('.body') %>
    <%= form.text_area :body, id: :answer_body, rows: 2, cols: 40, class: "form-control"  %>

    <div class="form-check mt-1">
      <%= form.label :correct, class: "form-check-label" do %>
        <%= form.check_box :correct, {id: :answer_correct}, {class: "form-check-input"}  %>
        <%= t('.correct') %>
      <% end %>
    </div>

    <div class="text-right">
      <%= form.submit class: "btn btn-primary"  %>
    </div>
  </div>

<% end %>
