<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <div class="card">
      <div class="card-header">
        <%= t('.title') %>
      </div>

      <div class="card-body">
        <div class="card-title">
          <%= @answer.question.body %>
        </div>

        <div class="card-text">
          <ul>
            <dt><%= t('.answer') %></dt>
            <dd><%= @answer.body %></dd>
          </ul>

          <ul>
            <dt><%= t('.correct') %></dt>
            <dd><%= @answer.correct %></dd>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
