<h3> <%= t('.title') %> </h3>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b> <%= t('.answer') %> :</b>
  <%= @answer.body %>
</p>

<p>
  <b> <%= t('.correct') %> :</b>
  <%= @answer.correct %>
</p>

<%= render "shared/links" %>
