<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <div class="card">
      <div class="card-header">
        <%= t('.title', test_title: @question.test.title) %>
      </div>

       <div class="card-body">
        <div class="card-title">
          <%= @question.body %>
        </div>

        <div class="card-text">
          <h5><%= t('.answers') %></h5>

          <table class="table table-sm" >
            <thead class="thead-light">
              <tr>
                <th scope="col">  # </th>
                <th scope="col"> <%= t('.answer') %> </th>
                <th scope="col" colspan=3> <%= t('.actions') %> </th>
              </tr>
            </thead>

            <%= render @question.answers %>
          </table>
        </div>
      </div>
    </div>

    <%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>.
    <%= render "shared/links" %>
  </div>
</div>
