<h3>'<%= t('.answers', title: @question.test.title) %>' </h3>

<p>
  <%= @question.body %>
</p>

<h3><%= t('.answers') %>:</h3>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>.

<%= render "shared/links" %>
