<div class="row justify-content-center mt-3">
  <div class="col-12">

    <h3><%= "#{t('.test')}  #{@test.id}" %></h3>

    <table class="table table-sm" >
      <thead class="thead-light">
        <tr>
          <th scope="col"> <%= t('.title') %> </th>
          <th scope="col"> <%= t('.level') %> </th>
          <th scope="col"> <%= t('.category') %> </th>
          <th scope="col"> <%= t('.author') %> </th>
          <th scope="col"> <%= t('.questions') %> </th>
          <th scope="col" colspan=4> <%= t('.actions') %> </th>
        </tr>
      </thead>

      <%= render "test_edit", test: @test %>
    </table>

    <h3> <%= t('.questions') %> </h3>

    <table class="table table-sm" >
      <thead class="thead-light">
        <tr>
          <th scope="col"> <%= t('.id') %> </th>
          <th scope="col"> <%= t('.body') %> </th>
          <th scope="col" colspan=3> <%= t('.actions') %> </th>
        </tr>
      </thead>

      <%= render @test.questions %>
    </table>

    <%= link_to t('.create_new_question'), new_admin_test_question_path(@test) %>
  </div>
</div>
