<h1>Test <%= params[:id] %></h1>

<%= render "table", data: @test %>
<%= render "shared/questions_list", data: @test  %>

<br>

<%= link_to 'All Tests list', tests_path %> . 
<%= link_to 'Create new Question', new_test_question_path(@test) %> . 
