<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>

      <p class="nav user">

        <%= link_to "Test Guru", root_path %>.
        Welcome, <b><%= current_user.name %></b> Guru.
        <%= link_to "Exit",
                    logout_path,
                    method: :delete,
                    data: { confirm: "Exit. Are you sure?"} %>
      </p>
    <% end %>

    <div style='margin:2% 30%;'>
    <h1><%= link_to 'Test Guru', root_path %> </h1>

    <%= yield %>

    <% # = link_to "Back", :back %>
    <% # = redirect_back(fallback_location: root_path) %>

    </div>

    <%= render "shared/footer" %>

  </body>
</html>
